{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            Hi! I'm Adebowale Abisolami, and I've been right where you are—feeling lost after high school,
            unsure about what's next. But guess what? I found my way, and now I'm here to help you do the same.
        </p>
        <p>
          I remember the pressure to have all the answers, but let's be real, it's tough.
            I talked to my parents, mentors, and teachers. Those conversations changed everything.
            It led me to tech, and now I'm on a journey to become a data scientist.
            Trust me, the path isn't always straight, but it's worth exploring.
        </p>
        <p>
            Whether you're still in high school or fresh out of it, I've got your back.
            I'm not just another adult telling you what to do. I'm a student too,
            and I know the questions that keep you up at night. We'll dive into stories, strategies,
            and advice from people who've been there. Together, we'll find your path.
        </p>
        <p>
          I'm also a programming enthusiast. The thrill of turning lines of code into something real—it's pure magic.
            And that's what I want for you too, to find joy in your journey, to explore your interests,
            and to take those uncertain steps toward an exciting future.
        </p>
        <p>
          Thanks for joining me on this adventure. Let's turn confusion into clarity, one step at a time.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
