{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there! 👋 I'm Adebowale Abisolami, and I'm thrilled to welcome you to this corner of the internet
          where we embark on a journey of self-discovery, growth, and finding our paths together.
        </p>
        <p>
          Remember those days after high school when the world felt like a maze of possibilities,
          and the question "What do you want to be?" seemed like a riddle with no clear answer?
          Well, you're not alone—I've been there too. The confusion, the pressure, the uncertainty—it's
          a journey I understand all too well.
        </p>
        <p>
          My goal in creating this blog is simple: to be the guiding voice I wish I
          had when I was standing at the crossroads. Yes, I might still be a young student,
          but my experiences have shown me that age doesn't define the wisdom we carry.
          And guess what? You don't need to have it all figured out right now. Trust me, that's okay.
        </p>
        <p>
          Back in the day, I faced the bewildering task of deciding my next steps.
          Everyone had questions about my future, and sometimes, those questions felt like they
          were closing in on me. But you know what helped? Talking it out with my parents.
          Sharing my thoughts and fears opened up a space where I could breathe and think clearly.
        </p>
        <p>
          As destiny would have it, my path led me to the world of tech.
          I'm an aspiring data scientist, and I'll let you in on a little secret:
          I was a science lover who adored mathematics, yet I hesitated to dive into it fully.
          With the support of my parents, teachers, and mentors, I began researching and exploring.
          That's when my dad suggested data science. I dove into the world of data and programming,
          and the more I learned, the more I knew I was onto something special..
        </p>
        <p>
         I'm currently on my third year studying computer science, and my sights are set
          on majoring in data science, possibly during my master's. The joy I feel when a program
          I've crafted meticulously finally clicks into place is unlike anything else.
          It's a feeling I want to share with you all.
        </p>
        <p>
         So, what's in it for you here? This blog isn't just about me—it's about us.
          I'll be sharing not only my journey but also valuable insights and advice I've gained along the way.
          Feeling uncertain? It's okay. I still am too sometimes. But one thing I've learned is that
          seeking guidance from those who've walked the path before us is a golden key. Whether it's a mentor,
          a role model, or someone with a wealth of experience, their wisdom is priceless.
          </p>

          <p>
            As we move forward together, let's explore the world of discovering our passions.
            I can't wait to connect, learn, and grow with each one of you.
            Here's to embracing the unknown, one step at a time. 🌱
        </p>
        <p>
            Stay curious,
            Adebowale Abisolami.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
