{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h2>Search Results for "{{ query }}"</h2>

      <!-- Render the search form -->
      {{ render_form(form, novalidate=True, class="form-inline mt-2 mt-md-0") }}


      {% if search_results %}
        <ul class="list-group">
          {% for result in search_results %}
            <li class="list-group-item">
              <h3><a href="{{ url_for('show_post', post_id=result.id) }}">{{ result.title }}</a></h3>
              <p>{{ result.subtitle }}</p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No results found for "{{ query }}"</p>
      {% endif %}

      <a href="{{ url_for('get_all_posts') }}" class="btn btn-primary">Back to All Posts</a>
    </div>
  </div>
</div>

{% include "footer.html" %}
